<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Silex - RedBeanPHP - Twig</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>Menu</li>
      </ul>
    </nav>
    <div class="container">
      {% block conteudo %}
        <h1>Bem Vindo <small> Silex RedBeanPHP Twig - Base APP</small></h1>
      {% endblock %}
    </div>


    <footer>Rodapé dessa bagaça</footer>
  </body>
</html>
